<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<connectionStrings>
    <add name="ravi" connectionString="Data Source=localhost;Initial Catalog=nslcompo_expertsquad;user id=nslcompo_expertsquad; password=admin@123" providerName="System.Data.SqlClient" />
    <add name="conString" connectionString="Data Source=localhost;Initial Catalog=nslcompo_expertsquad;user id=nslcompo_expertsquad; password=admin@123" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="ravi" connectionString="Data Source=localhost;Initial Catalog=expertsquad;user id=sa; password=admin@123" providerName="System.Data.SqlClient" />
    <add name="conString" connectionString="Data Source=localhost;Initial Catalog=expertsquad;user id=sa; password=admin@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime maxRequestLength="1073741824"  targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <!--<system.webServer>
   <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
   </security>
 </system.webServer>-->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <defaultDocument enabled="true">
      <files>
        <add value="home.aspx" />
      </files>
    </defaultDocument>

  </system.webServer>
</configuration>